# Ignore Visual Studio temp files, build results, and .NET files

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Visual Studio cache/options
.vs/
*.VC.db
*.VC.VC.opendb

# Visual Studio Code settings
.vscode/

# NuGet packages
*.nupkg
*.snupkg
*.nuspec
packages/
*.dll
*.exe

# Entity Framework migrations backup
*.ide/
*.ldf
*.mdf

# Others
*.cache
*.pdb
*.dbmdl
*.bak
*.log

